<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="six columns">
      Name: <%= f.text_field :name, :class => "u-full-width" %>
    </div>
    <div class="six columns">
      Coming this sunday? <label><span class="label-body"><%= f.check_box :attending %></span></label>
    </div>
  </div>
  <div class="twelve columns">
    What's up? <%= f.text_field :comment, :class => "u-full-width" %>
  </div>
  <div class="row">
    <div class="six columns">
    Email: <%= f.email_field :email, :class => "u-full-width" %>
    </div>
  </div>
<div class="row">
  <div class="actions">
    <%= f.submit 'submit', :class => "button button-primary" %>
  </div>
</div><!-- row -->
<% end %>
