<div class="row">
  <h1><strong>Coffee!</strong></h1>
</div>


<% @users.each do |user| %>
  <div class="six columns">
    <h5><%= user.name %></h5>
    <%= user.attending %><br>
    <% if user.email %>
      <%= image_tag user.gravatar_url, :class => "thumbs" %>
    <% else %>
      Enter an email for avatar
    <% end %>
    <p><%= user.comment %></p>
        <%= link_to 'Edit', edit_user_path(user), :class => "button button-primary" %>
  </div><!-- user block -->

  <% end %>

<div class="row">
  <%= link_to 'New User', new_user_path, :class => "button button-primary" %>
</div>